.PNFContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    padding: 20px;
    margin: 20px;
}
.PNFContainer div img {
    width: 400px;
    height: 300px;
    margin: 20px;
    padding: 20px;
}
.PNFtxt h2 {
    margin-bottom: 10px;
    padding: 10px;
}
.PNFtxt p {
    margin-bottom: 70px;
    padding: 10px;
}
.PNFtxt a {
    padding: 10px;
    color: #e542fe;
    border: 1px dashed #e542fe;
    border-radius: 5px;
}

@media  (max-width: 600px) {
    .PNFContainer {
        flex-direction: column-reverse;
    }
}