.container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 10px;
    margin: 50px auto;
    max-width: 1200px;
    min-height: 100vh;
    border-color: #f9fafc;
}

.products {
    width: 100%;
}