.container {
    display: flex;
    justify-content: space-between;
    margin: auto;
    max-width: 1250px;
    min-height: 100vh;
    padding: 10px;
    border-color: #f9fafc;
}

.products {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}